/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}

section h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}